<form [formGroup]="conditionForm" (ngSubmit)="query()" style="padding-bottom:60px;">
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="moneyCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">金额</label>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzCompact>
                            <nz-input-number formControlName="lowerLimit"
                                             nzPlaceHolder="Minimum"
                                             nzPrecision="2"
                                             nzMin="0"
                                             style="width:40%;"></nz-input-number>
                            <input type="text" disabled nz-input placeholder="~" style="width:20%; pointer-events:none; text-align: center;">
                            <nz-input-number formControlName="upperLimit"
                                             nzPlaceHolder="Maximum"
                                             nzPrecision="2"
                                             nzMin="0"
                                             style="width: 40%;"></nz-input-number>
                        </nz-input-group>
                        <nz-form-explain *ngIf="conditionForm.get('moneyCondition').dirty && conditionForm.get('moneyCondition').invalid">Money Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="inExCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">收支分类</label>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzCompact>
                            <nz-select formControlName="inExType" style="width:30%;">
                                <nz-option [nzLabel]="EnumInExType.INCOME"   [nzValue]="EnumInExType.INCOME"></nz-option>
                                <nz-option [nzLabel]="EnumInExType.EXPENSES" [nzValue]="EnumInExType.EXPENSES"></nz-option>
                            </nz-select>
                            <nz-select formControlName="inExCategories"
                                       nzMode="tags"
                                       nzPlaceHolder="Please select"
                                       style="width:70%;">
                                <nz-option-group *ngFor="let categoryGroup of categoryGroup" [nzLabel]="categoryGroup.name">
                                    <nz-option *ngFor="let category of categoryGroup.categories" [nzValue]="category.id" [nzLabel]="category.name"></nz-option>
                                </nz-option-group>
                            </nz-select>
                        </nz-input-group>
                        <nz-form-explain *ngIf="conditionForm.get('inExCondition').dirty && conditionForm.get('inExCondition').invalid">InEx Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="accountCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">账户</label>
                <nz-form-item>
                    <nz-form-control>
                       <ef-select formControlName="accounts">
                           <ef-option-group *ngFor="let acctGroup of accountGroups" [efLabel]="acctGroup.name">
                               <ef-option *ngFor="let account of acctGroup.accounts" [efValue]="account.id" [efLabel]="account.name" [efSearchable]="account"></ef-option>
                           </ef-option-group>
                       </ef-select>
                        <nz-form-explain *ngIf="conditionForm.get('accountCondition').dirty && conditionForm.get('accountCondition').invalid">Account Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="tagCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">标签</label>
                <nz-form-item>
                    <nz-form-control>
                        <nz-select formControlName="tags"
                                   nzMode="tags"
                                   nzPlaceHolder="Please select"
                                   style="width:100%;">
                            <nz-option *ngFor="let tag of tags" [nzValue]="tag.id" [nzLabel]="'[' + tag.date + ']' + tag.name"></nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="conditionForm.get('tagCondition').dirty && conditionForm.get('tagCondition').invalid">Tag Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="dateTimeCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">时间</label>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzCompact>
                            <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat" style="width:40%;"></nz-date-picker>
                            <input type="text" disabled nz-input placeholder="~" style="width:20%; pointer-events:none; text-align:center;">
                            <nz-date-picker formControlName="endDate" [nzFormat]="dateFormat" style="width:40%;"></nz-date-picker>
                        </nz-input-group>
                        <nz-form-explain *ngIf="conditionForm.get('dateTimeCondition').dirty && conditionForm.get('dateTimeCondition').invalid">Datetime Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="ownerCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">归属人员</label>
                <nz-form-item>
                    <nz-form-control>
                        <nz-select formControlName="owners"
                                   nzMode="tags"
                                   nzPlaceHolder="Please select"
                                   style="width:100%;">
                            <nz-option *ngFor="let person of persons" [nzValue]="person.id" [nzLabel]="person.name"></nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="conditionForm.get('ownerCondition').dirty && conditionForm.get('ownerCondition').invalid">Owner Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card formGroupName="remarkCondition" [nzBodyStyle]="{'padding-top' : '0px', 'padding-bottom' : '0px'}">
                <label nz-checkbox
                       formControlName="enable"
                       style="position:absolute; top:-11px; background-color:white; padding-left:8px;">备注</label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="remark" style="width:100%;">
                        <nz-form-explain *ngIf="conditionForm.get('remarkCondition').dirty && conditionForm.get('remarkCondition').invalid">Remark Error!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
        </div>
    </div>

    <div nz-row style="position:fixed; left:0; bottom:0; width:100%; padding:10px 0px; border-top:1px solid #e8e8e8; background-color:white;">
        <span nz-col nzOffset="3" nzSpan="8"><button type="submit" nz-button nzType="primary" [disabled]="conditionForm.invalid" style="width: 100%;">Query</button></span>
        <span nz-col nzOffset="2" nzSpan="8"><button type="reset"  nz-button style="width: 100%;">Reset</button></span>
    </div>
</form>