<form nz-form nzLayout="vertical" [ngSwitch]="cfRecordVO.inExType" style="padding-bottom:60px;">
    <div nz-row>
        <div nz-col nzSpan="12" class="big-money">{{cfRecordVO.localMoney | number:'1.2-2'}}</div>
    </div>
    <div nz-row *ngSwitchCase="EnumInExType.INCOME">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>收入账户</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.flowInAccountName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>收入分类</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.inExCategoryName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row *ngSwitchCase="EnumInExType.EXPENSES">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>支出账户</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.flowOutAccountName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>支出分类</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.inExCategoryName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row *ngSwitchCase="EnumInExType.NONE">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>转出账户</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.flowOutAccountName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>转入账户</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.flowInAccountName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row *ngSwitchCase="EnumInExType.NONE">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>转出操作</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.flowOutOperationId}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>转入操作</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.flowInOperationId}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>日期</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.recordDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>归属人员</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.ownerName}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col>
            <nz-form-item>
                <nz-form-label>标签</nz-form-label>
                <nz-form-control>
                    <nz-tag *ngFor="let tag of cfRecordVO.tagNames">{{tag}}</nz-tag>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col>
            <nz-form-item>
                <nz-form-label>备注</nz-form-label>
                <nz-form-control><nz-form-text>{{cfRecordVO.remark}}</nz-form-text></nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
<div nz-row style="position:fixed; left:0; bottom:0; width:100%; padding:10px 0px; border-top:1px solid #e8e8e8; background-color:white;">
    <span nz-col nzOffset="4" nzSpan="16">
        <button nz-button nzType="primary" (click)="backToList()" style="width: 100%;">Back to List</button>
    </span>
</div>