<div class="ef-select-selection"
     [ngClass]="{'enabled' : !efDisabled, 'disabled' : efDisabled}"
     (click)="showModal()">
    <nz-tag *ngFor="let account of selectedAccounts">{{account.name}}</nz-tag>
</div>
<nz-modal [(nzVisible)]="modalVisible" nzTitle="Select Accounts" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <div class="ef-select-selection-tags">
        <nz-tag nzMode="closeable" *ngFor="let account of modalSelectedAccounts; index as i;" (nzAfterClose)="deleteTag(account, i)">{{account.name}}</nz-tag>
    </div>
    <nz-input-group nzSearch [nzSuffix]="suffixSearchIcon" class="ef-select-selection-search">
        <input #searchInput type="text" nz-input placeholder="input search text" (input)="searchSubject.next(searchInput.value)" >
        <ng-template #suffixSearchIcon>
            <button nz-button (click)="searchInput.value=''; searchSubject.next('')" nzSearch>
                <i [ngClass]="{'anticon-search' : searchInput.value.trim().length == 0, 'anticon-close-circle-o' : searchInput.value.trim().length > 0}" class="anticon"></i>
            </button>
        </ng-template>
    </nz-input-group>
    <ul class="ef-select-selection-list">
        <li class="ef-select-selection-list-item-group" *ngFor="let group of filteredGroups">
            <div class="ef-select-selection-list-item-group-title">{{group.name}}</div>
            <ul class="ef-select-selection-list-item-group-list">
                <li *ngFor="let account of group.accounts"
                    class="ef-select-selection-list-item"
                    [ngClass]="{'selected' : account.selected, 'no-selected' : !account.selected}"
                    (click)="clickAccount(account)">{{account.name}}</li>
            </ul>
        </li>
    </ul>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="deselectAll()">Deselect All</button>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOk()">OK</button>
    </ng-template>
</nz-modal>